<section class="slider">
  <section class="frametrack">
    <section class="slide">
      <picture>
        <source srcset="https://picsum.photos/id/100/1200/720" media="(min-width:1024px)" />
        <source srcset="https://picsum.photos/id/100/1024/620" media="(min-width:720px)" />
        <img src="https://picsum.photos/id/100/380/380" alt="Slide 1" />
      </picture>
      <div class="q2">
        <h2>Conoce Nuestros Servicios</h2>
        <p>En el Centro de Rehabilitación Integral de Olancho (CRIOHO), ofrecemos atención integral y personalizada para
          mejorar la calidad de vida de las personas con diferentes patologías, integrándolas a la sociedad.</p>
        <a href="/servicios" class="btn">Ver Servicios</a>
      </div>
    </section>
    <section class="slide">
      <picture>
        <source srcset="https://picsum.photos/id/120/1200/720" media="(min-width:1024px)" />
        <source srcset="https://picsum.photos/id/120/1024/620" media="(min-width:720px)" />
        <img src="https://picsum.photos/id/120/380/380" alt="Slide 1" />
      </picture>
      <div class="q2">
        <h2>Descubre Nuestros Eventos</h2>
        <p>Participa en actividades diseñadas para apoyar nuestra misión de rehabilitación y mejorar la calidad de vida de nuestra comunidad. ¡Sé parte del cambio!</p>
        <a href="#" class="btn">Ver Eventos</a>
      </div>
    </section>
    <section class="slide">
      <picture>
        <source srcset="https://picsum.photos/id/48/1200/720" media="(min-width:1024px)" />
        <source srcset="https://picsum.photos/id/48/1024/620" media="(min-width:720px)" />
        <img src="https://picsum.photos/id/48/380/380" alt="Slide 1" />
      </picture>
      <div class="q2">
        <h2>Contáctanos</h2>
        <p>¿Tienes preguntas o necesitas más información? Estamos aquí para ayudarte. Comunícate con nosotros y descubre cómo podemos apoyarte.</p>
        <a href="#" class="btn">Ir a Contacto</a>
      </div>
    </section>
  </section>
</section>