<section class="slider">
  <section class="frametrack">
    <section class="slide">
      <picture>
        <source srcset="resources/img/carrusel1.jpg" media="(min-width:1024px)">
        <source srcset="resources/img/carrusel1.jpg" media="(min-width:720px)">
        <img src="resources/img/carrusel1.jpg" alt="Slide 1">
      </picture>
      <div class="q2">
        <h2>Conoce Nuestros Servicios</h2>
        <p>En el Centro de Rehabilitación Integral de Olancho (CRIOHO), ofrecemos atención integral y personalizada para
          mejorar la calidad de vida de las personas con diferentes patologías, integrándolas a la sociedad.</p>
        <a href="servicios" class="btn">Ver Servicios</a>
      </div>
    </section>
    <section class="slide">
      <picture>
        <source srcset="resources/img/carrusel2.jpg" media="(min-width:1024px)">
        <source srcset="resources/img/carrusel2.jpg" media="(min-width:720px)">
        <img src="resources/img/carrusel2.jpg" alt="Slide 2">
      </picture>
      <div class="q2">
        <h2>Descubre Nuestros Eventos</h2>
        <p>Participa en actividades diseñadas para apoyar nuestra misión de rehabilitación y mejorar la calidad de vida de nuestra comunidad. ¡Sé parte del cambio!</p>
        <a href="eventos.html" class="btn">Ver Eventos</a>
      </div>
    </section>
    <section class="slide">
      <picture>
        <source srcset="resources/img/carrusel3.jpg" media="(min-width:1024px)">
        <source srcset="resources/img/carrusel3.jpg" media="(min-width:720px)">
        <img src="resources/img/carrusel3.jpg" alt="Slide 3">
      </picture>
      <div class="q2">
        <h2>Contáctanos</h2>
        <p>¿Tienes preguntas o necesitas más información? Estamos aquí para ayudarte. Comunícate con nosotros y descubre cómo podemos apoyarte.</p>
        <a href="contacto.html" class="btn">Ir a Contacto</a>
      </div>
    </section>
  </section>
</section>
