// About Page
.about-hero {
    background: linear-gradient(rgba(44, 82, 130, 0.9), rgba(44, 82, 130, 0.9));
    padding: 4rem 15rem;
    text-align: center;
    color: white;
  }
  
  .mission-vision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15rem;
    padding: 4rem 15rem;
    background: @light-bg;
  
    .mission, .vision {
      padding: 2rem;
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      h2{
          text-align: center;
      }
    }
  }
  
  .team-section {
    padding: 4rem 2rem;
    text-align: center;
  
    .team-img {
      img {
        max-width: 60vw;
        max-height: 50vh;
        margin-top: 1rem;
        border-radius: 8px;
      }
    }
  }